<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlDialectInspection -->
<mapper namespace="org.clever.devops.mapper.CodeRepositoryMapper">

    <select id="getByProjectName" resultType="org.clever.devops.entity.CodeRepository">
        SELECT * FROM code_repository WHERE project_name=#{projectName}
    </select>

    <select id="findCodeRepository" resultType="org.clever.devops.entity.CodeRepository" parameterType="org.clever.devops.dto.request.CodeRepositoryQueryReq">
        SELECT
        *
        FROM code_repository
        WHERE 1=1
        <if test="projectName!='' and projectName!=null">
            AND project_name LIKE CONCAT('%', #{projectName}, '%')
        </if>
        <if test="language!='' and language!=null">
            AND language = #{language}
        </if>
        <if test="repositoryUrl!='' and repositoryUrl!=null">
            AND repository_url LIKE CONCAT('%', #{repositoryUrl}, '%')
        </if>
        <if test="repositoryType!='' and repositoryType!=null">
            AND repository_type = #{repositoryType}
        </if>
        <if test="authorizationType!='' and authorizationType!=null">
            AND authorization_type = #{authorizationType}
        </if>
        ORDER BY project_name, create_by DESC
    </select>

</mapper>
