<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlDialectInspection -->
<mapper namespace="org.clever.devops.mapper.ImageConfigMapper">

    <select id="getByRepositoryId" resultType="org.clever.devops.entity.ImageConfig">
        SELECT * FROM image_config WHERE repository_id=#{repositoryId} AND commit_id=#{commitId}
    </select>

    <select id="getByServerUrl" resultType="org.clever.devops.entity.ImageConfig">
        SELECT * FROM image_config WHERE server_url=#{serverUrl}
    </select>

    <select id="getBuildingCount" resultType="int">
        SELECT count(1) FROM image_config WHERE repository_id=#{repositoryId} AND build_state in ('1', '2', '3')
    </select>
</mapper>