<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--suppress SqlDialectInspection -->
<mapper namespace="org.clever.devops.mapper.ImageBuildLogMapper">

    <select id="findByPage" resultType="org.clever.devops.entity.ImageBuildLog" parameterType="org.clever.devops.dto.request.ImageBuildLogQueryReq">
        SELECT
        `id`,
        `create_by`,
        `create_date`,
        `update_by`,
        `update_date`,
        `repository_id`,
        `image_config_id`,
        `project_name`,
        `repository_url`,
        `commit_id`,
        `branch`,
        `code_download_path`,
        `build_type`,
        `build_cmd`,
        `docker_file_path`,
        `server_ports`,
        `server_url`,
        `server_count`,
        `build_state`,
        `image_id`,
        `image_name`,
        `build_start_time`,
        `build_end_time`
        FROM image_build_log
        WHERE 1=1
        <if test="query.repositoryId!=null">
            AND repository_id=#{query.repositoryId}
        </if>
        <if test="query.imageConfigId!=null">
            AND image_config_id=#{query.imageConfigId}
        </if>
        <if test="query.projectName!='' and query.projectName!=null">
            AND project_name LIKE CONCAT('%', #{query.projectName}, '%')
        </if>
        <if test="query.repositoryUrl!='' and query.repositoryUrl!=null">
            AND repository_url LIKE CONCAT('%', #{query.repositoryUrl}, '%')
        </if>
        <if test="query.commitId!='' and query.commitId!=null">
            AND commit_id=#{query.commitId}
        </if>
        <if test="query.branch!='' and query.branch!=null">
            AND branch=LIKE CONCAT('%', #{query.branch}, '%')
        </if>
        <if test="query.serverPorts!='' and query.serverPorts!=null">
            AND server_ports LIKE CONCAT('%', #{query.serverPorts}, '%')
        </if>
        <if test="query.serverUrl!='' and query.serverUrl!=null">
            AND server_url LIKE CONCAT('%', #{query.serverUrl}, '%')
        </if>
        <if test="query.buildState!='' and query.buildState!=null">
            AND build_state=#{query.buildState}
        </if>
        <if test="query.imageId!='' and query.imageId!=null">
            AND image_id=#{query.imageId}
        </if>
        <if test="query.imageName!='' and query.imageName!=null">
            AND image_name LIKE CONCAT('%', #{query.imageName}, '%')
        </if>
        <if test="query.buildStartTimeStart!=null">
            AND build_start_time>=#{query.buildStartTimeStart}
        </if>
        <if test="query.buildStartTimeEnd!=null">
            <![CDATA[ AND build_start_time<=#{query.buildStartTimeEnd} ]]>
        </if>
        ORDER BY create_date DESC
    </select>

</mapper>