<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlDialectInspection -->
<mapper namespace="org.clever.devops.mapper.QueryMapper">

    <select id="findImageConfig"
            resultType="org.clever.devops.dto.response.ImageConfigQueryRes"
            parameterType="org.clever.devops.dto.request.ImageConfigQueryReq">
        SELECT
        b.project_name,
        b.language,
        b.repository_url,
        b.repository_type,
        b.authorization_type,
        b.authorization_info,
        a.`id`,
        a.`create_by`,
        a.`create_date`,
        a.`update_by`,
        a.`update_date`,
        a.`repository_id`,
        a.`commit_id`,
        a.`branch`,
        a.`code_download_path`,
        a.`build_type`,
        a.`build_cmd`,
        a.`docker_file_path`,
        a.`server_ports`,
        a.`server_url`,
        a.`server_count`,
        a.`build_state`,
        a.`image_id`,
        a.`image_name`,
        a.`build_start_time`,
        a.`build_end_time`,
        a.`description`
        FROM image_config a LEFT JOIN code_repository b ON (a.repository_id = b.id)
        WHERE 1 = 1
        <if test="query.projectName!='' and query.projectName!=null">
            AND b.project_name LIKE CONCAT('%', #{query.projectName}, '%')
        </if>
        <if test="query.language!='' and query.language!=null">
            AND b.language = #{query.language}
        </if>
        <if test="query.repositoryUrl!='' and query.repositoryUrl!=null">
            AND b.repository_url LIKE CONCAT('%', #{query.repositoryUrl}, '%')
        </if>
        <if test="query.repositoryType!='' and query.repositoryType!=null">
            AND b.repository_type = #{query.repositoryType}
        </if>
        <if test="query.authorizationType!='' and query.authorizationType!=null">
            AND b.authorization_type = #{query.authorizationType}
        </if>
        <if test="query.repositoryId!=null">
            AND a.repository_id = #{query.repositoryId}
        </if>
        <if test="query.branch!='' and query.branch!=null">
            AND a.branch LIKE CONCAT('%', #{query.branch}, '%')
        </if>
        <if test="query.commitId!='' and query.commitId!=null">
            AND a.commit_id = #{query.commitId}
        </if>
        <if test="query.buildType!='' and query.buildType!=null">
            AND a.build_type = #{query.buildType}
        </if>
        <if test="query.buildCmd!='' and query.buildCmd!=null">
            AND a.build_cmd LIKE CONCAT('%', #{query.buildCmd}, '%')
        </if>
        <if test="query.serverPorts!='' and query.serverPorts!=null">
            AND a.server_ports LIKE CONCAT('%', #{query.serverPorts}, '%')
        </if>
        <if test="query.serverUrl!='' and query.serverUrl!=null">
            AND a.server_url LIKE CONCAT('%', #{query.serverUrl}, '%')
        </if>
        <if test="query.buildState!='' and query.buildState!=null">
            AND a.build_state = #{query.buildState}
        </if>
        ORDER BY a.server_url, a.create_date DESC
    </select>
</mapper>